.sidebar{
    width: 16vw;
    height: 90vh;
    color: white;
}
.sideItems {
    list-style: none;
    border-radius: 8px;
    margin: 2px;
}

.sideItems div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 1.2rem;
}
.sideItems span{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* width: 70%; */
}

.sideItems:hover{
    cursor: pointer;
    background: rgb(133, 132, 132);
}
.active, .active:hover {
    background-color: rgb(155, 21, 95);
}